body {
    background: #0368C0;
    color: white;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #1a3056;
    padding: 0 0 0 0;
    margin: 0;
    text-decoration: none;
}

header .logo a {
    background-image: url("peacheslogo.png");
    background-size: 150px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 150px;
    position: relative;
    text-indent: -999px;
    top: 0;
    width: 150px;
}

header h1 {
    margin: 0;
    display: inline;
    font-size: 30px;
}

nav ul {
    margin: 0;
    display: inline;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 30px 0 0;
    padding: 5px 15px;
    font-size: 25px;
    text-transform: uppercase;
    background-color: aquamarine;
}

section {
    background: #999;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    background: pink;
    margin: auto;
    width: 100px;
}

footer {
    clear: both;
    background: black;
    padding: 8px 20px;
}