body {
    background: #222;
    color: white;
    /*font-family: 'Zilla Slab', serif;*/
    /*font-family: 'Josefin Slab', serif;*/
    font-family: 'Kreon', serif;
    /*font-family: Tahoma, Verdana, Arial, sans-serif;*/
    margin: 0;
    padding: 0;
}

/* --Header-- */

header {
    background-color: #0475e5;
    background-repeat: no-repeat;
    padding: 10px 25px 10px 25px;
    margin: 0;
    text-decoration: none;
}

header .logo a {
    background-image: url("peacheslogo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    /*position: relative;*/
    text-indent: -999px;
    top: 0;
    width: 100px;
}

header .page a {
    position: relative;
    top: 24px; 
    margin: 0 30px 0 10px;
    font-size: 30px;
}

header .page a:hover {
    text-decoration: underline;
}

header a {
  color: white;
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0px;
}

header .social {
    float: right;
    position: relative;
    top: 24px; 
    margin: 0 30px 0 10px;
}

header .social:hover{
    top: 20px;
}

header .msocial {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 0;
}

 /* Dropdown Button */
.dropdown {
    display: none;
}

/* --Mid Section-- */

.mid {
    background-image: url("shop/looking.jpeg");
    /*background-repeat: no-repeat;*/
    display: block;
    margin: 20px auto;
    height: 600px;
    width: 100%;
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;  
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
    top: 60px;
}

/* --Lower Section-- */

.lower {
    display: flex;
    margin: 0;
    padding: 0;
}
  
.feature {
    flex: 33.33%;
    padding: 0;
    margin: 0 0 10px 0;
    position: relative;
    text-decoration: none;
}

.ft-btn{
    position: absolute;
    bottom: 20px;
    right: 60px;
    background-color: #222;
    color: white;
    padding: 0 20px;
    text-decoration: none;
}

figure {
    padding: 0;
    margin: 0;
}

footer {
    clear: both;
    background: #0475e5;
    padding: 5px;
    margin: 0;
}

/* --Responsive Rules-- */

@media screen and (max-width: 840px) {
    header .page {
        display: none;
    }

    .dropbtn {
        display: relative;
        background-color: #0475e5;
        color: white;
        padding: 0 20px 20px 0;
        margin: 0;
        position: relative;
        top: 24px;
        border: none;
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #0475e5;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        font-size: 20px;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
          background-color: #222;
        }
      
      /* dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
    }
      
      .dropdown:hover .dropbtn {
        top: 20px;
    } 
}

@media screen and (max-width: 680px) {
    header .logo a {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    
    header .social {
        display: none;
    }

    header .msocial {
        display: inline-flex;
        position: relative;
        float: right;
        margin: 0;
        top: 24px;
        padding: 0 5px;
    }

    header .msocial:hover {
        top: 20px;
    }

    .lower {
        display: inline;
    }
}
