body{
background: #white;
  color: #1f364c;
  padding-left: 0px;
  padding-right: 0px;
}
  h1 {
    font-family: monospace;
    font-weight:550;
    font-size: 20px;
    height: 242px;
    margin-top: -3px;
}
.align-left{
  text-align: left;
}
.gallery{
  text-align: center;
}
  p {
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px;
}
.logo{
  margin-top: -50px;
  margin-left: 0px;
}
.facebook{
  font-size: 50px;
  color:#1f364c;
  display: grid;
  place-items: start right;
  margin-right: 105px;
}
.facebook :hover{
color:#1d5786;
}
.instagram{
  font-size: 50px;
  color:#1f364c;
  display: grid;
  place-items: start right;
  margin-right: 55px;
  margin-top: -50px;
}
.instagram :hover{
  color:#ea4aff;
}
.youtube{
  font-size: 50px;
  color:#1f364c;
  display: grid;
  place-items: start right;
  margin-right: 0px;
  margin-top: -50px;
}
.youtube :hover{
  color:#ff3333;
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.blurb {
  width: 40%;
  margin: 0px auto;
}
.gallery{
  margin-top: 300px;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
