body{
  background-color: #89c3fb;
  margin: 0px;
}

h1 {
  font-family: monospace;
  font-weight:550;
  font-size: 20px;
  height: 242px;
  margin-top: -3px;
}
.align-left{
  text-align: left;
}
.navbar{
  background: #1f364c;
  width: 100%;
  margin-top: 0px;translate3d
  height: 60px;
  position: absolute;
  padding-left: 180px
}

.navbar ul {
  list-style:none;
}

.navbar ul li {
  display: inline-block;
  position: relative;
  margin: 0px 10px;
  width: 50px;
  font-size: 35px;
}

.navbar a {
  color: #FFF;
}

.navbar svg {
  opacity: 0.75;
  transition: opacity 0.5s ease;
}

.navbar svg:hover {
  opacity: 1;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  padding: 15px;
}


.logo{
  margin: 10px 30px 0px 10px;
  position: absolute;
  z-index: 100;
}

.logo img {
  height: 100px;
  border: #1f364c 5px solid;
  border-radius: 55px;
}

.grid-container {
  display: grid;
}

.blurb{
  width: 40%;
  margin: 0px auto;
}
.gallery{
  margin-top: 300px;
}

nav{
  
}
