body{
  background-color: #89c3fb;
  margin: 0px;
}

h1 {
  font-family: monospace;
  font-weight:550;
  font-size: 20px;
  height: 242px;
  margin-top: -3px;
}

header {
  display: grid;
  grid-template-columns: 200px repeat(2, auto);
  background: #1f364c;
  display-template-columns:auto auto auto;
}
.align-left{
  text-align: left;
}

header {
  font-size: 35px;
}

header a {
  color: #FFF;
  text-decoration: none;
}

.social svg {
  opacity: 0.75;
  transition: opacity 0.5s ease;
}

.social svg:hover {
  opacity: 1;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  padding: 15px;
}


.logo{
  padding: 10px 30px 0px 10px;
  z-index: 100;
}

.logo img {
  height: 100px;
  border: #1f364c 5px solid;
  border-radius: 55px;
}

.appicon {
  display: grid;
  justify-content: space-around;
}

.menu{
  display-template-columns:auto auto auto;
}

.pages{
  display: grid;
  justify-content: space-evenly;
}

.blurb{
  width: 40%;
  margin: 0px auto;
}
.gallery{
  margin-top: 300px;
}

nav{

}
